// Page

@include border-box-sizing;

html {
  // @NOTE: Background image is set in a style tag, by Backgrounds model!
  background: $base-background-color no-repeat top center;
  background-size: 100% auto;
}

body {
  @include container;
  padding: 0 gutter();
}
