// Page

@include border-box-sizing;

html {
  background: $base-background-color url('../assets/images/background.default.jpg') no-repeat top center;
  background-size: 100% auto;
}

body {
  @include container;
  padding: 0 gutter();
}
