// Clearfix. Used to contain floats without adding extra markup.
// @see http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Include media query styles using semantic breakpoint names.
@mixin media($name) {
  // Check if the key exists in $breakpoints
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$name}` is not defined. Check $breakpoints variable.";
  }
}

// Icomoon defaults
@mixin icomoon-icon {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
