.pagination {
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 $base-spacing;
  }

  .disabled {
    color: $gray;
  }
}

.pagination-link {
  display: block;
  text-align: center;
  margin: $base-spacing;

  &.is-autoloading {
    &:before {
      content: '';
      display: block;
      background: transparent data-url($data-spinner-svg) no-repeat center center;
      background-size: 32px;
      height: 32px;
      width: 32px;
      margin: 0 auto;
    }

    span {
      display: none;
    }
  }
}
