.pagination {
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 $base-spacing;
  }

  .disabled {
    color: $gray;
  }
}

.is-sorted-asc:after {
  content: ' \25B2';
}

.is-sorted-desc:after {
  content: ' \25BC';
}
