.pagination {
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 $base-spacing;
  }

  .disabled {
    color: $gray;
  }
}

.pagination-link {
  display: block;
  text-align: center;
  margin: $base-spacing;
}
