.search-form {
  @include clearfix;
  position: relative;

  @include media('medium') {
    @include span(8);
  }

  @include media('large') {
    @include span(9);
  }

  input[type='search'] {
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    border: rgba(#222, 0.8);
    background: rgba(#222, 0.8) data-url($data-search-white-svg) ($base-spacing / 2) 48% no-repeat;
    background-size: $base-spacing $base-spacing;
    padding-left: ($base-spacing * 2);
  }
}
