// Tables

table {
  width: 100%;
  max-width: 100%;

  .empty {
    color: $gray;
  }

  // Fix control margins & size...
  input[type="text"] {
    font-size: $base-font-size;
    margin-bottom: 0;
  }

  input[type='file'] {
    margin-bottom: 0;
  }

  .control {
    margin-bottom: 0;
  }

  abbr[title] {
    border-bottom: 0;

    &:after {
      content: '?';
      display: inline-block;
      color: $light-gray;
      background: $gray;
      font-size: 12px;
      border-radius: 100%;
      padding: 0 6px;
      margin: 0 6px;
    }
  }
}

thead {
  font-weight: $weight-bold;

  .is-sorted-asc:after {
    content: ' \25B2';
  }

  .is-sorted-desc:after {
    content: ' \25BC';
  }

  a:hover {
    text-decoration: none;
  }
}

tr {
  border-bottom: 1px solid $gray;
}

td {
  padding: $base-spacing;
}
