.ie-upgrade {
  padding: $base-spacing;
  margin: ($base-spacing / 2);
  background: #ddd;
  color: #333;

  em {
    font-style: normal;
    background-color: #fcd116;
  }

  p {
    max-width: 1000px;
    margin-top: 0;
  }

  a {
    color: #23b7fb;
    text-decoration: underline;

    &:hover {
      color: #23b7fb;
    }
  }
}
