// Container!

.container {
  @include clearfix;

  .row {
    margin-bottom: $base-spacing * 4;
  }

  @include media('medium') {
    >.wrapper {
      margin-bottom: $base-spacing * 4;

      @include span(8);
      @include pre(2);

      &.-narrow {
        text-align: center;

        @include span(6);
        @include pre(3);
      }

    }
  }

}
