// Candidate!

.candidate {
  display: table;
  position: relative;
  margin-bottom: $base-spacing * 4;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    width: $base-spacing / 2;
    background: $yellow;
    box-shadow: 0 0 30px 5px rgba(lighten($yellow, 15%), 0.5), inset 0px 5px 5px rgba(255,255,255,0.5);
    border-radius: $base-spacing;
  }

  &:before {
    top: 0;
    left: 0;
    bottom: 0;
  }

  &:after {
    top: 0;
    right: 0;
    bottom: 0;
  }

  .candidate__info {
    @include media('medium') {
      @include span(4);
      @include pre(1);
      @include post(1);
    }
  }

  .candidate__actions {
    @include media('medium') {
      @include span(5);
    }
  }
}
