// Primary navigation
nav.primary {
  @include span(100%);
  margin: ($base-spacing * 2) 0;

  @include media('medium') {
    margin: ($base-spacing * 3) 0;
  }

  .navigation__logo {
    display: block;
    max-width: 800px;

    img {
      max-width: 100%;
    }
  }

  .navigation__tagline {
    max-width: 700px;
    font-size: $medium-font-size;
    text-align: left;
    color: #fff;
  }
}

