// Primary navigation
nav.primary {
  margin: ($base-spacing * 4) 0;

  @include media('medium') {
    margin: ($base-spacing * 12) 0 ($base-spacing * 8);
  }

  .navigation__logo {
    display: block;

    img {
      max-width: 100%;
    }
  }

  .navigation__tagline {
    max-width: 700px;
    font-size: $medium-font-size;
    text-align: left;
    color: #fff;
  }
}

