// Variables!

// Layout (@see: http://susydocs.oddbird.net/en/latest/settings/)
$susy: (
  container: 1200px,
  columns: 12,
  gutters: 1/4,
  debug: (
    // image: show,
    // output: overlay,
    color: blue,
    toggle: top right,
  ),
);


// Breakpoints (see `media` mixin)
$breakpoints: (
  'small': ( max-width: 659px ),
  'medium': ( min-width: 660px ),
  'large': ( min-width: 1100px ),
);


// Font Stacks
$base-font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;


// Colors
$black: #000;
$cyan: #04f6dc;
$pink: #f60463;
$yellow: #fddb39;
$gray: #666;
$white: #fff;

$base-background-color: $black;
$base-font-color: $white;

$error-color: #ff4747;


// Weights
$weight-normal: 400;
$weight-semibold: 600;
$weight-bold: 700;


// Typography
$largest-font-size: 42px;
$large-font-size: 32px;
$medium-font-size: 24px;
$base-font-size: 16px; // base font size
$small-font-size: 13px;

$unitless-line-height: 1.5;
$base-line-height: $base-font-size * $unitless-line-height;
$header-line-height: 1.1;

// Measurements
$base-spacing: 12px;
$base-border-radius: $base-spacing / 4;

