// Gallery container.

.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include clearfix;

  .gallery__row {
    @include clearfix;
  }

  > li, .gallery__item {
    margin-bottom: gutter();

    @include media('medium') {
      @include span(4);
    }

    @include media('large') {
      @include span(3);
    }
  }
}

// Oh, shush.
.gallery-heading {
  padding: 0 gutter();
  margin-bottom: $base-spacing;
}
