// Gallery container.

.gallery {
  @include clearfix;
  clear: both;
  list-style-type: none;
  margin: $base-spacing 0;
  padding: 0;

  &.-empty {
    margin: 0 0 ($base-spacing * 2);
  }


  .gallery__row {
    @include clearfix;
  }

  > li, .gallery__item {
    margin-bottom: gutter();

    @include media('medium') {
      @include span(4);
    }

    @include media('large') {
      @include span(3);
    }
  }

  .gallery__empty {
    @include span(100%);
    color: $gray;
    font-size: $base-font-size;
    padding-top: ($base-spacing / 2);
  }
}

// Oh, shush.
.gallery-heading {
  padding: 0 gutter();
}
