// Tile!

.tile {
  transform: translateZ(0);

  // Selected state (i.e. drawer is open)
  &.is-active {
    > .wrapper {
      opacity: 0.5;
      transform: scale(0.9);
    }
  }

  // Alternate tile appearance
  &.-alternate {
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    > .wrapper {
      padding-bottom: 0;
    }

    .tile__meta {
      background: linear-gradient(transparent, #000);
      top: auto;
      bottom: 0;
      text-align: left;
      padding-top: $base-spacing * 2;

      h1 {
        background: none;
        font-size: $large-font-size;
        font-weight: $weight-bold;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      }
    }
  }

  > .wrapper {
    position: relative;
    display: block;
    width: 100%;
    transition: transform 0.5s;

    @include media('medium') {
      padding-bottom: 2 * $base-spacing;
    }
  }

  img {
    display: block;
    background-color: darken($gray, 30%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    z-index: 1;
    transition: opacity 0.5s;

    &[data-src] {
      opacity: 0;
    }
  }

  .tile__meta {
    display: block;
    position: absolute;
    width: 100%;
    color: $white;
    z-index: 5;

    @include media('medium') {
      text-align: center;
      padding: 0 $base-spacing;
    }

    h1 {
      background: $black;
      font-weight: $weight-semibold;
      font-size: $base-font-size;
      text-transform: uppercase;
      padding: ($base-spacing / 2);
      margin: 0;
    }
  }

  .tile__action {
    position: absolute;
    color: $white;
    text-align: center;
    z-index: 10;

    @include media('small') {
      top: 0;
      right: 10px;
    }

    @include media('medium') {
      bottom: $base-spacing;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}


