// Tile!

.tile {
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 30px;
  height: 0;

  > .wrapper {
    display: block;
    overflow: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &:hover {
      h1 {
        background: lighten($black, 15%);
      }
    }
  }

  img {
    display: block;
    width: 100%;
    z-index: 1;
  }

  .tile__meta {
    position: absolute;
    display: block;
    top: 0;
    color: $white;
    width: 100%;
    z-index: 10;

    @include media('medium') {
      text-align: center;
    }

    h1 {
      background: $black;
      font-weight: $weight-semibold;
      font-size: $base-font-size;
      text-transform: uppercase;
      padding: $base-spacing;
      margin: 0;

      @include media('medium') {
        display: inline-block;
        margin: 0 $base-spacing;
      }
    }
  }

  .tile__action {
    position: absolute;
    color: $white;
    text-align: center;
    z-index: 10;

    @include media('small') {
      top: 0;
      right: 10px;

    }

    @include media('medium') {
      bottom: -30px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

}


