// Gallery container.

.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include clearfix;

  li {
    margin-bottom: gutter();

    @include media('medium') {
      @include gallery(3);
    }
  }
}
