// Label
label {
  clear: both;
  display: block;
  font-weight: $weight-bold;
  font-size: $small-font-size;
  margin-bottom: $base-spacing / 4;
}


// Text inputs
input[type="email"], input[type="number"],   input[type="password"], input[type="search"],
input[type="tel"],   input[type="text"],     input[type="url"],      input[type="color"],
input[type="date"],  input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="time"],     input[type="week"], textarea {
  background: $white;
  color: $black;
  border: 1px solid $gray;
  border-radius: $base-border-radius;
  font-family: $base-font-family;
  font-size: $medium-font-size;
  width: 100%;
  padding: $base-spacing / 2;
  margin-bottom: $base-spacing * 2;

  &:focus {
    border: 1px solid $cyan;
    outline: none;
  }
}

textarea {
  resize: vertical;
}


// Buttons
input[type="submit"], button, .button {
  display: block;
  background: $gray;
  color: $white;
  border-radius: $base-border-radius;
  font-family: $base-font-family;
  font-weight: $weight-bold;
  font-size: $base-font-size;
  text-decoration: none;
  line-height: 1;
  padding: $base-spacing;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  &.-primary {
    background: $cyan;
    color: $black;
    font-size: $medium-font-size;
  }

  &.-round {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: $pink;
    font-size: $medium-font-size;
    text-transform: uppercase;
    border-radius: 100%;
    border: 4px solid $black;
    line-height: 75px;

    &:hover {
      background: lighten($pink, 10%);
    }

    &:active {
      background: darken($pink, 10%);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }
  }
}

input[type="submit"], button {
  appearance: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

// Server-side validation errors
.validation.error {
  color: $error-color;
  font-size: $small-font-size;
  font-weight: $weight-semibold;
}
