.messages {
  color: $cyan;
  font-size: $medium-font-size;
  margin-bottom: gutter();
  padding: $base-spacing;
  text-align: center;

  &.-inline {
    color: inherit;
    text-align: inherit;
    padding: 0;
  }

  b, strong {
    font-weight: $weight-bold;
  }

  &.error {
    background: $error-color;
  }
}
