//  $$\    $$\  $$$$$$\ $$$$$$$$\ $$$$$$\ $$\   $$\  $$$$$$\
//  $$ |   $$ |$$  __$$\\__$$  __|\_$$  _|$$$\  $$ |$$  __$$\
//  $$ |   $$ |$$ /  $$ |  $$ |     $$ |  $$$$\ $$ |$$ /  \__|    $$$$$$\   $$$$$$\   $$$$$$\
//  \$$\  $$  |$$ |  $$ |  $$ |     $$ |  $$ $$\$$ |$$ |$$$$\     \____$$\ $$  __$$\ $$  __$$\
//   \$$\$$  / $$ |  $$ |  $$ |     $$ |  $$ \$$$$ |$$ |\_$$ |    $$$$$$$ |$$ /  $$ |$$ /  $$ |
//    \$$$  /  $$ |  $$ |  $$ |     $$ |  $$ |\$$$ |$$ |  $$ |   $$  __$$ |$$ |  $$ |$$ |  $$ |
//     \$  /    $$$$$$  |  $$ |   $$$$$$\ $$ | \$$ |\$$$$$$  |$$\\$$$$$$$ |$$$$$$$  |$$$$$$$  |
//      \_/     \______/   \__|   \______|\__|  \__| \______/ \__|\_______|$$  ____/ $$  ____/
//                                                                        $$ |      $$ |
//                                                                        $$ |      $$ |
//                                                                        \__|      \__|


// Set up our asset pipeline
$neue-path: "../bower_components/neue/dist/assets/";
$asset-path: "";

// Import Bourbon, grid-settings, Neat, and Neue
@import "../../../public/bower_components/bourbon/dist/bourbon";
@import "../../../public/bower_components/neat/app/assets/stylesheets/neat-helpers";
@import "../../../public/bower_components/neue/scss/helpers/grid-settings";
@import "../../../public/bower_components/neat/app/assets/stylesheets/neat";
@import "../../../public/bower_components/neue/scss/neue";

// Add app styles:
// ...

.chrome--nav {
	.primary-nav li {
		@include media($desktop) {
			padding: 22px 0;
		}
	}
}

.gallery.-mosaic {
	background-color: #fff;
}


.validation.error {
  color: $error;
  font-size: $font-small;
  font-weight: $weight-sbold;
}
